<!DOCTYPE html>
<html>
<head>
  <title>TinyApp</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">

</head>
<body>
  <h1>TinyApp</h1>
  <h2>Shortened URLs: </h2>
  <a href='/urls/new'><button>Shorten Urls</button></a>
  <a href='/urls'><button>Main Page</button></a>
</body>
</html>