body {
  background-color: #f7f8f9 !important;
}
.jumbotron{
  text-align: center;
  font-family: 'Montserrat';
  text-transform: uppercase;
  background-color: #f7f8f9 !important;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
  font-weight: 800 !important;
}

p, h1, input {
  font-family: 'Montserrat' !important;
}
li {
  display: inline;
}
div.centerDiv{
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
form{
  display: contents !important;
}
.navbar-brand {
  font-weight: 700;
  font-size: 30px;
}
label#enterNEW, div#new{
  display: block;
}
div#new{
  text-align: center;
  height: 30%
}
input#longURL{
  text-align: center;
}
div.form-group{
  width: 50%;
  align-content: center;
  margin: 0 auto;
}

input.form-control{
  text-align: center;
}

.btn {
  margin: 10px;
}
#logoutBTN{
  -webkit-appearance: none;
  border: 0;
  background-color: #f7f8f9 !important;
  padding: 14px;
  color: #777 !important;
  transition: 1;
}
#logoutBTN:hover{
  color: black !important;
}
textarea, input { outline: none; }

a.navbar-brand{
  padding-top: 2px;
}

.navbar-brand small {
  display: block;
  font-weight: 100;
  text-align: center;
  font-size: 20px;
  padding-bottom: 7px;
  padding-top: 2px;
}
.container-fluid{
  text-align: center;
}
.navbar{
  padding-top: 10px;
  padding-bottom: 15px;
}

button{
/*  float:right;
*/  text-align: center;
}
.editBTN{
  margin-bottom: 30px !important;
  margin-top: 10px !important;
}

form{
  text-align: center;
}

input {
  align-content: center;
}

.login{
  text-align: center;
}
li#showURL{
  font-size: 20px;
}
.allignURL{
  padding-top: 12px;
  text-align: right;

}
.allignBTN{
  text-align: left;
}