body {
  background-color: #f7f8f9 !important;
}
.jumbotron{
  text-align: center;
  font-family: 'Montserrat';
  text-transform: uppercase;
  background-color: #f7f8f9 !important;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
  font-weight: 800 !important;
}
#message{
  text-align: center;
  font-size: 2rem;
  padding: 11%;
}

div.centerDiv.main{
  align-items: center;
  justify-content: center;
}
ul.container{
   text-align: center;
}
.btn-info{
  margin-top: 10px;
}
.signup{
  margin-top: 10px;
}

@media (min-width: 300px) {
  .header {
    background-size: 55%;
    height: 15em;
  }
  #logoutBTN {
      padding-left: 8px !important;
/*      padding-top: 6px ;
      padding-bottom: 2px;*/
  }
  li#showURL{
      font-size: 12px !important;

  }
  a.editBTN, button.editBTN{
    font-size: 11px;
  }
  ul.container{
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .header {
        background-size: 40%;
    }
    li#showURL{
      font-size: 13px !important;
    }
    ul.container{
    }


}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .header {
        background-size: 30%;
    }
        #logoutBTN {
      padding-top: 14px;
    }
    li#showURL{
      font-size: 18px !important;
    }
    ul.container{
    }
/*     a.editBTN, button.editBTN{
      font-size: 16px;
    }*/

}

input.btn{
  margin-top: 10px;
}

p, h1, input, div {
  font-family: 'Montserrat' !important;
}
h1{
  text-transform: uppercase;
}
li {
  display: inline;
}
ul.container{
    justify-content: center;
}
div.centerDiv{
  display: inline-flex;
  flex-direction: column;
  margin: 0 auto;
}
form{
  display: contents !important;
}
.navbar-brand {
  font-weight: 700;
  font-size: 30px;
}
label#enterNEW, div#new{
  display: block;
}
div#new{
  text-align: center;
  padding: 14% !important;
}
input#longURL{
  text-align: center;
}
div.form-group{
  width: 50%;
  align-content: center;
  margin: 0 auto;
}

input.form-control{
  text-align: center;
}

/*.btn {
  margin: 10px;
}*/
#logoutBTN{
  -webkit-appearance: none;
  border: 0;
  background-color: #f7f8f9 !important;
  padding: 14px;
  color: #777 !important;
  transition: 1;
}
#logoutBTN:hover{
  color: black !important;
}
textarea, input { outline: none; }

a.navbar-brand{
  padding-top: 2px;
}

.navbar-brand small {
  display: block;
  font-weight: 100;
  text-align: center;
  font-size: 20px;
  padding-bottom: 7px;
  padding-top: 2px;
}
.container-fluid{
  text-align: center;
}
.navbar{
  padding-top: 10px;
  padding-bottom: 15px;
}

button{
  text-align: center;
}
.editBTN{
  margin-bottom: 30px !important;
  margin-top: 10px !important;
}

form{
  text-align: center;
}

input {
  align-content: center;
}

.login{
  text-align: center;
}
li#showURL{
  font-size: 20px;
}

