<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
    <% include ../partials/header %>
    <div class="container-fluid">
    <form action="/urls/login" method="POST">
        <div class="form-group">
        <label for="username">Email</label>
        <input type="text" name="username" placeholder="example@example.com" class="form-control">
        <div></div>
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" required>
        <button class="btn btn-success" id="">Login</button>
        </div>
    </form>
    </div>
</body>
</html>