<!DOCTYPE html>
<html>
<head>
  <title>Logged Out</title>
  <link href="../css/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <% include ../partials/header %>


  <h1>You have signed out</h1>


</body>
</html>