<!DOCTYPE html>
<html>
<head>
  <title>Unauthorized Access</title>
</head>
<body>
  <% include ../partials/header %>
    <div class="jumbotron">
  <h1>Unauthorized Access</h1>
  </div>

</body>
</html>