<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="../css/style.css" rel="stylesheet" type="text/css">
</head>
<header>
  <% include ../partials/header %>
</header>
<body>
  <form method="POST" action="/urls/<%= shortURL%>">
      <%= shortURL %> : <input type="text" name="update" value="<%= urlDB[shortURL] %>"</input>
      <label for="updateBtn"></label>
      <button id"updateBtn" name="updateBtn" >Update!</button>
  </form>
</body>
</html>