<!DOCTYPE html>
<html>
<head>
  <link href="../css/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

  <title>TinyApp</title>
</head>
  <body>
  <% include ../partials/header %>
    <div id='new'>
    <form action="/urls" method="POST" style="margin:150px;">
      <div class="form-group">
      <label for="longURL" id="enterNEW"><h1>Enter a URL</h1></label>
        <input class="form-control" id="longURL" type="text" name="longURL" placeholder="http://">
      </div>
        <input class="btn btn-info" type="submit" value="Submit">
    </form>
    </div>
  </body>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
</html>