<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<header>
  <% include ../partials/header %>
</header>
<body>
  <div class="container-fluid">
    <form method="POST" action="/urls/<%= shortURL%>">
    <div class="form-group">
      <h2><%= shortURL %></h2><input class="form-control" type="text" name="update" value="<%= url[shortURL] %>"</input>
      <label for="updateBtn"></label>
    </div>
      <button class="btn btn-success" name="updateBtn" >Update!</button>
  </form>

  </div>

</body>
</html>