<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="../css/style.css" rel="stylesheet" type="text/css">
</head>
<header>
  <% include ../partials/header %>
</header>
<body>
  <ul>
    <li><%= shortURL %><span> : </span><%= url[shortURL] %></li>
  </ul>
</body>
</html>